/*
Theme Name: AOv
Theme URI: https://aovchinnikov.com
Description:
Author: Alex Palshin
Author URI: https://aovchinnikov.com
Template: twentysixteen
Version: 1.0.1
*/

@import "bootstrap/css/bootstrap.css";
@import "fancybox/dist/jquery.fancybox.css";
@import "font-awesome/css/font-awesome.css";


/* Color Codes */

@font-color: #5f5f5f;
@font-color-dark: #282828;
@font-color-light: #cdcdcd;
@footer-font-color: #d5d8e7;
@border-color: #2f3f8a;
@link-color: #2f3f8a;
@link-color-inactive: #7e7e7e;
@title-color: #2f3f8a;
@bg-color: #fbfbfb;

@font-size-enlarge: 1.125rem; // 18px
@font-size-smaller: 0.875rem; //14px
@font-size-small: 0.75rem; //12px


/* Spacers */

.top-10 {
  padding-top: 10px;
}

.top-20 {
  padding-top: 20px;
}

.top-30 {
  padding-top: 30px;
}

.top-40 {
  padding-top: 40px;
}

.top-50 {
  padding-top: 50px;
}


/* Spacers in percent */

.top-5p {
  padding-top: 5%;
}

.top-10p {
  padding-top: 10%;
}

.top-20p {
  padding-top: 20%;
}

.top-30p {
  padding-top: 30%;
}

.top-40p {
  padding-top: 40%;
}

.top-50p {
  padding-top: 50%;
}


/* Spacers in rems */

.top-05r {
  padding-top: 0.5rem;
}

.top-1r {
  padding-top: 1rem;
}

.top-2r {
  padding-top: 2rem;
}

.top-3r {
  padding-top: 3rem;
}

.top-5r {
  padding-top: 5rem;
}

.top-10r {
  padding-top: 10rem;
}



.screen-reader-text {
  display: none;
}

@media screen and (max-width: 767px) {
  .hidden-mobile {
	display: none !important;
  }
}


/* Base size */

html {
  font-size: 16px;
}


/* Headings */

h1 {
  font-size: 2rem;
  font-weight: 300;
  color: @title-color;
  line-height: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: @title-color;
  line-height: normal;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: @font-color;
  line-height: normal;
}

.small-text {
  font-size: 0.875rem !important; //14px
  line-height: 1.33rem !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: normal;
  color: @font-color;
  min-height: 100vh;
  overflow-y: scroll;

  &.noscroll {
    overflow: hidden;
  }

  .site-content {
	min-height: 90vh;
  }

  article {
	line-height: 1.7;
  }
}

a,
a:hover,
a:focus {
  color: @link-color;
  text-decoration: none;
}


/* Buttons */

a.arrow-link {
  display: inline-block;
  text-decoration: none;
  font-size: 0.66rem;
  font-weight: 600;

  &:after {
	display: inline-block;
	content: '';
	width: 2.4rem;
	height: 0.55rem;
	background-image: url("img/arrow_link.png");
	background-size: cover;
	margin-left: 1.5rem;

  }
}

.btn {
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: 0;
  padding: 0.79rem;

  &:focus,
  &:active {
	box-shadow: 0 0 0 0.2rem rgba(255,255,255,.75) !important;
  }
}

.btn.btn-blue {
  background-color: @link-color;
  color: #ffffff;
}

.btn.btn-transp {
  background-color: rgba(255,255,255,0.25);
  backdrop-filter: blur(5px) saturate(50%);
  border-color: @link-color;
  color: @link-color;
  transition: all 0.5s ease-out;

  &:hover {
	background-color: rgba(255,255,255,0.75);
  }
}

.btn.btn-link {
  color: @link-color;
  text-decoration: none;
}

.btn.btn-arrow {
  color: @link-color;

  &:after {
	display: inline-block;
	content: '';
	width: 1.5rem;
	height: 0.75rem;
	background-image: url("img/arrow_link2.png");
	background-size: cover;
	margin-left: 1rem;

  }
}



/* Input and form */

input,textarea,select{
  &.form-control {
	border-radius: 0 !important;
  }
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
textarea,
select {
  &.form-control {
	border-bottom-width: 2px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;

	&:focus {
	  box-shadow: none !important;
	  border-bottom-color: @link-color;
	}
  }
}

/* Mixins */

.hoverbox {

  padding: 10px;

  .hover-box-inner {
	z-index: 2;
	transition: box-shadow 0.25s ease-out;
	position: relative;

	&:after {
	  display: block;
	  content: '';
	  position: absolute;
	  bottom: 1px;
	  left: 0;
	  width: 0;
	  height: 4px;
	  background-color: @border-color;
	  transition: width 0.5s ease-out 0.25s;
	}

	&:hover:after {
	  width: 100%;
	}
  }

  .hover-fadein {
	opacity: 0;
	transition: opacity 0.25s ease-out;
  }

  &:hover {
	.hover-box-inner {
	  background-color: @bg-color;
	  box-shadow: 0 0 10px rgba(0,0,0,0.25);
	}

	.hover-fadein {
	  opacity: 1;
	}
  }
}

figure.front-news-item {
  .news-item-image {
	padding-top: 63%;
	background-position: center;
	background-size: cover;

	&:after {
	  display: none !important;
	}
  }

  .news-date {
	color: @font-color-light;
	padding-top: 10px;

	.small-text;
  }

  h4 {
	color: @font-color-dark;
	font-size: 1.125rem;
  }

  .read-more span {
	display: inline-block;
	position: relative;

	&:after {
	  display: inline-block;
	  content: '';
	  width: 24px;
	  height: 14px;
	  margin-left: 20px;
	  background-image: url('img/arrow_link2.png');
	  background-size: contain;
	  background-repeat: no-repeat;
	  background-position: center;
	}
  }
}


/* Header */

body:not(.menu-visible) .navbar-close {
  display: none;
}

body.menu-visible {

  .head-menu-btn {
	display: none !important;
  }

}

.admin-bar header.site-header {
  top: 0 !important;
}

header.site-header {
  position: relative;
  width: 100%;
  z-index: 999;

  .navbar {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
  }

  .navbar-brand {
	transform: translateX(-50%);
	left: 65%;
	position: relative;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;

	img {
	  max-width: 202px;
	}

	@media screen and (min-width: 1200px) {
	  top: 0;
	  left: 55%;
	  position: absolute;
	}

	@media screen and (max-width: 1199px) {
	  padding: 0;
	  left: 50%;
	}
  }

  .navbar-toggler,
  .navbar-close {
	height: 40px;
	width: 40px;
	padding: 10px;
	border: 0;
	outline: none;
	background-color: transparent;
	cursor: pointer;

	.navbar-toggler-icon {
	  background-image: none;
	  position: relative;
	  width: 1.375rem;
	  height: 1.375rem;
	  vertical-align: initial;


	  &:before {
		top: 0.375rem;
	  }

	  &:after {
		top: 0.875rem;
	  }

	  &:before, &:after {
		position: absolute;
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		background-color: @border-color;
		transform: rotate(0deg);
	  }
	}


	&[aria-expanded="true"] {

	  &:hover {
		background-color: #f7f7f7;
		border-radius: 1000px;
	  }

	  .navbar-toggler-icon {
		&:before {
		  top: 0.5rem;
		  transform: rotate(45deg);
		  transition: transform 0.2s ease-out 0.2s;
		}

		&:after {
		  top: 0.55rem;
		  transform: rotate(-45deg);
		  transition: transform 0.2s ease-out 0.2s;
		}
	  }
	}
  }

  a.nav-search-toggle {
	display: inline-block;
	margin-left: 3rem;
	width: 1.375rem;
	height: 1.375rem;
	margin-top: 10px;
	background-image: url("img/search.png");
	background-size: 1rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;

	@media screen and (max-width: 600px) {
	  margin-left: 20%;
	}
  }

  a.cart-link {
	display: inline-block;
	width: 1.375rem;
	height: 1.375rem;
	margin-top: 10px;
	background-image: url("img/cart.png");
	background-size: 1rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-right: 3rem;
	position: relative;

	@media screen and (max-width: 600px) {
	  margin-right: 20%;
	}

	span {
	  position: absolute;
	  right: -15px;
	  top: -10px;
	  display: block;
	  width: 25px;
	  height: 25px;
	  line-height: 24px;
	  text-align: center;
	  background-color: @border-color;
	  color: #fff;
	  border-radius: 1000px;
	  font-size: 0.75rem;

	  &.items-0 {
		display: none;
	  }
	}
  }

  a.myaccount-link {
	display: inline-block;
	width: 1.375rem;
	height: 1.375rem;
	margin-top: 10px;
	background-image: url("img/profile.png");
	background-size: 1rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;

	&:after {
	  display: none;
	}
  }

  .header-dropdown-menu {
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
  }

  .myaccount-dropdown {
	left: auto;
	right: 0;

	&:before {
	  display: block;
	  content: '';
	  width: 12px;
	  height: 12px;
	  border: 6px solid transparent;
	  border-bottom-color: #ffffff;
	  position: absolute;
	  top: -12px;
	  right: 12px;

	}
  }

  figure.collapsable-wrapper {
	position: absolute;
	left: 0;
	width: 100%;
	top: 80px;
	background-color: rgba(255,255,255,0.75);
	backdrop-filter: blur(10px) saturate(50%);
  }

  .navbar-collapse {
	position: relative;
	margin-bottom: 130px;

	ul.navbar-nav li {

	  a {
		color: @link-color-inactive;

		&:hover {
		  color: @link-color;
		}
	  }

	  &.current-menu-item > a,
	  &.show > a {
		font-weight: 600;
		color: @link-color;
	  }
	}

	.dropdown-menu {
	  border: 0;
	  padding-top: 0;
	  padding-bottom: 0;
	  background-color: transparent;
	}

	@media screen and (max-width: 1199px) {

	  ul.navbar-nav li .dropdown-menu {
		margin-left: 1rem;
	  }

	}

	@media screen and (min-width: 1200px) {
	  position: relative;
	  left: 0;
	  right: 0;

	  ul.navbar-nav {
		position: relative;

		li {

		  &.menu-item-has-children {
			> a {
			  position: relative;
			  display: inline-block;

			  &:after {
				display: block;
				content: '';
				width: 0;
				height: 2px;
				background-color: #e7e7e7;
				position: absolute;
				left: calc(~"100% + 20px");
				top: 50%;
			  }
			}

			&.show {
			  > a:after {
				width: 400px;
				transition: width 0.2s ease-out 0.2s;
			  }
			}

		  }

		  &.dropdown {
			position: static;
		  }

		  a {
			font-size: 1rem;
			margin-bottom: 1.5rem;
		  }
		}

		.dropdown-menu {
		  position: absolute;
		  right: 0;
		  width: 50%;
		  left: auto;
		  top: 0;

		  a {
			font-size: 0.875rem;
		  }
		}
	  }
	}

  }

  .search-collapse {
	.results-wrapper {

	  margin-bottom: 120px;

	  a {
		display: block;
		padding-top: 10px;
		padding-right: 30px;
		margin-bottom: 10px;
		color: @link-color-inactive;
		font-size: 1rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;

		&:hover {
		  color: @link-color;
		}

		&.active {
		  color: @link-color;
		  font-weight: 600;

		  &:after {
			display: inline-block;
			content: ' ';
			width: 26px;
			height: 12px;
			background-image: url("img/arrow_link2.png");
			background-size: cover;
			right: 0;
			position: absolute;
			top: 13px;
		  }
		}
	  }
	}

	form.nav-searchform {
	  position: relative;
	  padding-left: 40px;
	  margin-bottom: 40px;

	  .submit-btn {
		background-image: url("img/search_glass.png");
		background-color: transparent;
		border: 0;
		background-position: center;
		background-repeat: no-repeat;
		outline: none !important;
		box-shadow: none !important;
		position: absolute;
		left: 0;
		top: 0;
	  }
	}

	.search-item-wrapper {
	  padding-left: 40px;
	  margin-bottom: 120px;

	  @media screen and (max-width: 1199px) {
		padding-left: 0;
	  }

	  .search-item {
		font-size: 0.875rem;
		padding: 30px;
		background-color: @bg-color;
		box-shadow: 0px 5px 10px lightgrey;

		.product-image {
		  padding-top: 100%;
		  background-size: cover;
		}

		.product-category a {
		  color: @font-color-light;
		  margin-bottom: 10px;
		  font-size: 0.75rem;
		}

		.product-title {
		  margin-bottom: 10px;
		  a {
			color: @font-color;
		  }
		}

		.product-price {
		  color: @link-color;
		  font-weight: 600;
		}
	  }
	}
  }


  .login-collapse {

	.login-wrapper {
	  padding-top: 60px;
	}

	.show-pass-toggle {
	  position: absolute;
	  right: 30px;
	  top: 10px;
	  cursor: pointer;
	}

  }
}

.admin-bar header.site-header {
  top: 32px;

  @media screen and (max-width: 991px) {
	top: auto;
  }
}


.shop-item {

  height: 100%;

  .hover-box-inner {
	height: 100%;
  }

  .shop-item-image {
	padding-top: 100%;
	background-size: cover;
	background-position: center;
  }

  .shop-item-name {
	padding: 20px;
	position: relative;

	&:hover:after {
	  display: block;
	  content: '';
	  background-image: url('img/arrow_link2.png');
	  width: 24px;
	  height: 24px;
	  position: absolute;
	  bottom: 20px;
	  right: 20px;
	  background-position: center;
	  background-size: contain;
	  background-repeat: no-repeat;
	}

	.category-name {
	  color: @font-color-light;

	  .small-text;
	}

	h4 {
	  color: @font-color-dark;
	  font-size: 1rem;
	}
  }

}


/* Front page */

figure.front-page {

  section.front-page-slider {
	position: relative;

	.bx-wrapper {
	  border: 0;
	  box-shadow: none;

	  &:hover {
		.slide .next-slide {
		  right: 0;
		  opacity: 1;
		}

		.bx-controls .bx-prev {
		  left: 30px;
		  opacity: 1;
		}
	  }

	  .bx-pager-link {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: @font-color-light;

		&:not(.active) {
		  margin: 0 10px 3px;
		}

		&.active {
		  width: 1rem;
		  height: 1rem;
		  border: 3px solid transparent;
		  border-left-color: @link-color;
		  border-bottom-color: @link-color;
		  border-top-color: @link-color;
		  background: transparent;
		  animation: rotate-s-loader 5s linear infinite;
		}
	  }

	  @keyframes rotate-s-loader {
		from {
		  transform: rotate(0);
		}
		to {
		  transform: rotate(360deg);
		}
	  }
	}

	.bx-controls {
	  .bx-pager {
		position: absolute;
		left: 20px;
		width: 100px;
		bottom: 32px;
	  }

	  .bx-next {
		opacity: 0;
		width: 200px;
		height: 100px;
		transform: translateY(-50%);
	  }

	  .bx-prev {
		width: 48px;
		height: 48px;
		left: -48px;
		transition: all 0.25s ease-out;
		background-image: url("img/arrow_prev.png");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	  }

	  @media screen and (max-width: 767px) {
		.bx-controls-direction {
		  display: none;
		}
	  }
	}

	.slide {
	  position: relative;
	  padding-top: 700px;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center center;

	  @media screen and (max-width: 767px) {
		padding-top: 480px;
	  }

	  @media screen and (min-width: 768px) and (max-width: 1199px) {
		padding-top: 750px;
	  }

	  .next-slide {
		position: absolute;
		top: 50%;
		right: -160px;
		transform: translateY(-50%);
		width: 160px;
		padding-top: 80px;
		cursor: pointer;
		background-size: cover;
		background-position: center;
		background-color: #ffffff;
		box-shadow: 0 0 10px rgba(0,0,0,0.25);
		opacity: 0.1;
		transition: all 0.25s ease-out;

		@media screen and (max-width: 767px) {
		  display: none;
		}
	  }
	}

	.banner-overlay {
	  position: absolute;
	  top: 30%;
	  left: 20%;
	  width: 60%;
	  max-width: 450px;

	  @media screen and (max-width: 767px) {
		top: 55px;
		left: 25px;
		width: auto;
		max-width: calc(~"100% - 50px");
	  }

	  @media screen and (min-width: 768px) and (max-width: 1199px) {
		top: 250px;
		left: 100px;
	  }

	  h1 {
		font-weight: bold;
	  }
	}

	.banner-social-menu {
	  position: absolute;
	  bottom: 14px;
	  right: 30px;

	  ul {
		list-style-type: none;
		padding-left: 0;

		li {
		  margin-right: 65px;
		  display: inline-block;
		}
	  }

	  a {
		font-size: 1.5rem;
	  }

	  a:not(:last-of-type) {
		margin-right: 2rem;
	  }
	}
  }

  section.front-page-cats-slider {
	.bx-wrapper {
	  margin: 0 auto;
	  border: none;
	  box-shadow: none;

	  .bx-controls-direction a {
		top: auto;
		bottom: -48px;
	  }

	  .bx-next, .bx-prev {
		width: 48px;
		height: 48px;
		background-position: center;
		background-size: contain;
	  }

	  .bx-next {
		background-image: url('img/arrow_next.png');
	  }

	  .bx-prev {
		background-image: url('img/arrow_prev.png');
	  }

	  .bx-pager {
		opacity: 0;
		transition: opacity 0.25s ease-out;
	  }

	  &:hover {
		.bx-pager {
		  opacity: 1;
		}
	  }

	  .bx-pager.bx-default-pager a {
		margin: 0 10px;
		background-color: @font-color-light;

		&.active {
		  background-color: @border-color;
		}
	  }

	  .bx-pager-item:first-of-type:last-of-type {
		display: none;
	  }
	}

	.category-box {
	  .category-image {
		padding-top: 100%;
		background-size: cover;
		background-position: center;
	  }

	  @media screen and (max-width: 991px) {
		.hover-fadein {
		  opacity: 1 !important;
		}
	  }
	}
  }



  section.front-news {
	figure.front-news-item {
	  .news-item-image {
		padding-top: 63%;
		background-position: center;
		background-size: cover;

		&:after {
		  display: none !important;
		}
	  }

	  .news-date {
		color: @font-color-light;
		padding-top: 10px;

		.small-text;
	  }

	  h4 {
		color: @font-color-dark;
		font-size: 1.125rem;
	  }

	  .read-more span {
		display: inline-block;
		position: relative;

		&:after {
		  display: inline-block;
		  content: '';
		  width: 24px;
		  height: 14px;
		  margin-left: 20px;
		  background-image: url('img/arrow_link2.png');
		  background-size: contain;
		  background-repeat: no-repeat;
		  background-position: center;
		}
	  }
	}

  }

}

.filterOpen figure.main-shop-page {
  @media screen and (min-width: 992px) {
	div.product.col-lg-3 {
	  -ms-flex: 0 0 33.33%;
	  flex: 0 0 33.33%;
	  max-width: 33.33%;
	}
  }
}


/* Woocommerce reset */

body.home, body.woocommerce {
  span.onsale {
	background-color: @border-color;
	border-radius: 0;

	@media screen and (max-width: 991px) {
	  left: 0;
	}
  }
}

body.woocommerce-page {
  #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt,
  #respond input#submit.alt:hover, a.button.alt:hover, button.button.alt:hover, input.button.alt:hover {
	background-color: @border-color;
	border-radius: 0;
  }
}

/* Shop page */

figure.main-shop-page {

  header.woocommerce-products-header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid @bg-color;
	margin-bottom: 1.5rem;

	.woof_products_top_panel {
	  display: none !important;
	}
  }

  h1.woocommerce-products-header__title {
	font-weight: 600;
	margin-bottom: 0;
	padding-right: 50px;
  }

  .filter-counter {
	position: absolute;
	right: 20px;
	top: 40%;
	transform: translate(-50%,-50%);
	width: 18px;
	height: 18px;
	background-image: url('img/shop/filters.png');
	background-size: cover;
	cursor: pointer;

	span {
	  display: block;
	  position: absolute;
	  left: 60%;
	  bottom: 50%;
	  background-color: @link-color;
	  width: 22px;
	  height: 22px;
	  border-radius: 999px;
	  color: #ffffff;
	  font-size: @font-size-small;
	  text-align: center;
	  line-height: 22px;
	}
  }

  .woocommerce-result-count {
	color: @font-color-light;
	padding-top: 10px;

	@media screen and (min-width: 992px) {
	  margin-left: 40px;
	}
  }

  #filterWrap {
	.filter-reset-button {
	  position: absolute;
	  right: 15px;
	  background-color: transparent;
	  color: @link-color;
	  padding: 3px;
	  font-size: 0.875rem;
	}

	h2.widget-title {
	  font-size: 1rem;
	  color: @font-color-dark;
	  padding-bottom: 20px;
	  border-bottom: 2px solid @bg-color;
	  margin-bottom: 20px;
	}

	.woof {
	  h4 {
		font-size: 1rem;
		color: @font-color-dark;
		font-weight: 700;
		margin-bottom: 1.5rem;
	  }

	  .woof_container_inner {
		border-bottom: 2px solid @bg-color;
		padding-bottom: 5px;
	  }

	  .widget_price_filter {
		.ui-slider-horizontal {
		  height: 2px;
		  background-color: @font-color-light;

		  div.ui-slider-range {
			background-color: @link-color;
		  }

		  span.ui-slider-handle {
			background-color: #ffffff;
			border: 3px solid @link-color;
			top: -0.45em;
		  }
		}
	  }

	  .woof_list {
		padding-left: 0;
	  }

	  .woof_radio_term {
		opacity: 0;
		position: absolute;
	  }

	  label.woof_radio_label {
		padding-left: 27px;
		position: relative;
		padding-top: 2px;
		font-size: 0.875rem;
		color: @font-color-dark;

		&:before {
		  display: block;
		  content: '';
		  position: absolute;
		  left: 0;
		  top: 2px;
		  width: 16px;
		  height: 16px;
		  background-image: url('img/checkbox_empty.png');
		}

		&.woof_radio_label_selected {
		  &:before {
			background-image: url('img/checkbox_selected.png');
		  }
		}
	  }

	  .woof_radio_term_reset {
		background-image: url('img/cross.png');
		background-repeat: no-repeat;
		background-position: right 30%;

		img {
		  opacity: 0;
		}
	  }
	}
  }

  .woof_products_top_panel {
	margin-top: 0;
	line-height: normal;

	li span {
	  padding-left: 16px;
	  padding-right: 0;
	  background-image: url('img/cross.png');
	  background-size: 10px;
	  background-position: left center;
	}

	li a {
	  color: @font-color-dark;
	  font-size: 0.875rem;
	}

  }

  nav.woocommerce-pagination ul.page-numbers {
	display: flex;
	border: 0;

	li {
	  margin: 10px;
	  border: 0;

	  span, a {
		padding: 11px 18px;
		color: @link-color-inactive;
		border: 2px solid transparent;
	  }

	  a.next {
		padding: 11px 14.5px;
	  }

	  a:hover {
		border-color: @border-color;
		background: transparent;
	  }

	  span.current {
		color: @border-color;
		background-color: transparent;
		border: 0;
		border-bottom: 2px solid @border-color;
	  }
	}
  }

}


/* Product page */

.twentysixteen .site-main {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.woocommerce .site-content {
  overflow-x: hidden;
}

.woocommerce figure.product-page {
  margin: 0;

  div.product {
	.product_title {
	  font-size: 1.25rem;
	  color: @font-color-dark;
	  margin-bottom: 30px;

	  @media screen and (min-width: 1200px) {
		padding-top: 60px;
		margin-bottom: 100px;
	  }
	}

	div.images {
	  width: 100%;
	  float: none;
	}

	p.price {
	  color: @border-color;
	  margin-bottom: 50px;
	}

	p.product-sku {
	  color: @font-color-light;
	  margin-bottom: 50px;

	  span {
		color: @font-color;
	  }
	}

	form.cart {
	  @media screen and (min-width: 1200px) {
		padding-top: 50px;
	  }
	}

	.single_add_to_cart_button {
	  padding-left: 60px;
	  padding-right: 60px;
	}

	.woocommerce-tabs {
	  position: relative;
	  z-index: 0;
	  padding-bottom: 60px;

	  &:before {
		display: block;
		content: '';
		position: absolute;
		left: -1000px;
		width: calc(100% + 2000px) ;
		top: 0;
		height: 100%;
		z-index: -1;
		background-color: @bg-color;
	  }

	  ul.tabs {
		display: flex;
		justify-content: space-between;

		&:before {
		  border: 1px solid #e4e4e4;
		}

		li {
		  flex-grow: 1;
		  text-align: center;
		  border: 0;
		  background-color: transparent;

		  a {
			padding: 1.25em 0;
			color: @font-color-light;
		  }

		  &.active a {
			color: @link-color;
		  }

		  &:before, &:after {
			display: none;
		  }


		}
	  }

	  > * {
		z-index: 2;
	  }

	  .panel {
		margin-bottom: 0;

		@media screen and (min-width: 1200px) {
		  padding-left: 2rem;
		  padding-right: 2rem;
		}
	  }
	}
  }

  .woocommerce-product-gallery__trigger {
	display: none;
  }

  .woocommerce-product-gallery__wrapper {
	img.wp-post-image {
	  max-height: 80vh;
	  width: auto;
	  max-width: 100%;
	  display: block;
	  margin: 0 auto;
	}

	.product-slideshow-wrap {
	  .slide {
		padding-top: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	  }
	}

	.bx-wrapper {
	  border: 0;
	  box-shadow: none;

	  .bx-pager-item:first-of-type:last-of-type {
		display: none;
	  }

	  .bx-pager-link {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: @font-color-light;

		&:not(.active) {
		  margin: 0 10px 3px;
		}

		&.active {
		  width: 1rem;
		  height: 1rem;
		  border: 3px solid transparent;
		  border-left-color: @link-color;
		  border-bottom-color: @link-color;
		  border-top-color: @link-color;
		  background: transparent;
		  animation: rotate-s-loader 5s linear infinite;
		}
	  }

	  @keyframes rotate-s-loader {
		from {
		  transform: rotate(0);
		}
		to {
		  transform: rotate(360deg);
		}
	  }
	}

  }

  .woocommerce-variation-description,
  .woocommerce-variation-price {
	margin-bottom: 1rem;
  }

  .woocommerce-variation-price {
	span.amount {
	  color: @border-color;
	}
  }

}


/* Breadcrumbs */

.woocommerce .woocommerce-breadcrumb {
  padding-top: 40px;
  margin-bottom: 50px;
  color: @font-color-light;

  a {
	font-size: 0.875rem;
	color: @font-color;

	&:hover {
	  color: @font-color-dark;
	}
  }
}


/* News archive */

figure.news-archive {
  header.page-header {
	border-bottom: 1px solid @font-color-light;
	margin-bottom: 30px;

	h2.page-title {
	  font-weight: 600;
	  padding-bottom: 30px;
	  padding-top: 30px;
	}
  }
}


/* News item */

body.single-news,
body.page {
  .entry-title {
	font-weight: 600;
	padding-bottom: 30px;
	padding-top: 30px;
  }

  .post-thumbnail {
	float: left;
	width: 50%;

	img {
	  display: block;
	  width: calc(100% - 20px);
	  height: auto;
	}
  }
}

/* Content area for 404 page */

section.error-404 {
  max-width: 55.5rem;
  margin: 11rem auto 5.5rem;
}



/* 3D visualizer */

body.page-template-visualizer-page header.site-header {
  background-color: #000000;
}

figure.visualizer-page {

  margin-bottom: 100px;

  @media screen and (min-width: 992px) {
	padding-top: 115px;
	margin-bottom: 50px;
  }

  section.collection-tabs {

	max-width: 1770px;
	margin: 0 auto;

	.tab-content {
	  border-bottom: 1px solid @border-color;
	  margin: 0 auto;

	  .tab-pane {
		iframe {
		  width: 100%;
		  max-width: 600px;
		  margin: 0 auto;
		  display: block;
		  min-height: 530px;
		  border: none;

		  @media screen and (max-width: 767px) {
			min-height: 500px;
		  }
		}
	  }
	}

	.nav.nav-tabs {
	  border-bottom: none;
	  max-width: 1360px;
	  margin: 0 auto;

	  .nav-link {
		text-align: left;
		width: 25%;

		&.active,
		&:hover,
		&:focus {
		  border-color: transparent;

		  span {
			border-top: 2px solid #000000;
			margin-top: 0;
		  }
		}

		.tab-icon {
		  padding-top: 100%;
		  background-size: contain;
		  background-repeat: no-repeat;
		}

		span {
		  display: block;
		  text-transform: uppercase;
		  font-size: 0.77rem;
		  font-family: "Open Sans", sans-serif;
		  font-weight: 600;
		  border-top: 1px solid #d9d9d9;
		  padding-top: 1.5rem;
		  margin-top: 1px;
		}

		@media screen and (max-width: 413px) {
		  span {
			transform: rotate(90deg);
		  }
		}
	  }
	}

	.ring-image-wrap {
	  max-width: 768px;
	  margin: 0 auto;
	}

	.ring-image {
	  background-size: cover;
	  padding-top: 70%;
	  background-position: 50% 50%;
	}
  }

  section.section-2 {
	max-width: 1770px;
	margin: 0 auto;
	background-color: @bg-color;
  }

  section.visualizer-section {
	max-width: 1770px;
	margin: 0 auto;
	background-color: @bg-color;

	.product-image {
	  padding-top: 70%;
	  background-size: contain;
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
	}

	.product-number {
	  font-size: 0.77rem;

	  span {
		font-family: "Open Sans",sans-serif;
		font-weight: 600;
	  }
	}

	.btn.btn-buy-this {
	  border-radius: 0;
	  background-color: #000000;
	  color: #ffffff;
	  font-size: 0.77rem;
	  padding: 1.4em;

	  &:after {
		display: inline-block;
		content: '';
		width: 2.4rem;
		height: 0.55rem;
		background-image: url("img/buy_this_arrow.png");
		background-size: cover;
		margin-left: 1.4rem;

	  }

	}

	h4 {
	  color: #000000;
	  font-size: 0.88rem;
	  font-family: "Open Sans", sans-serif;
	  font-weight: 600;
	  text-transform: uppercase;
	  padding-bottom: 0.77em;
	  border-bottom: 1px solid #000000;

	}

	.builder-block {
	  padding-left: 20px;
	  font-size: 0.77rem;
	  font-family: "Open Sans",sans-serif;
	  color: #000000;
	  background-position: right top;
	  background-size: auto 90%;
	  background-repeat: no-repeat;
	  position: relative;
	  padding-bottom: 1.8em;
	  border-bottom: 1px solid #d4d4d3;
	  margin-bottom: 1em;
	  cursor: pointer;

	  &:before {
		display: block;
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: #c5c5c5;
		left: 0;
		bottom: 2.1em;
		border-radius: 999px;
	  }

	  &.selected {
		color: #f8a21b;
		&:before {
		  background-color: #f8a21b;
		}
	  }

	  &.builder-line {
		padding-top: 2.57rem;
		padding-bottom: 1rem;

		&.basic {
		  background-image: url('img/visualizer/linea_basic.png');
		}

		&.medium {
		  background-image: url('img/visualizer/linea_medium.png');
		}

		&.top {
		  background-image: url('img/visualizer/linea_top.png');
		}

		&.anniversary {
		  background-image: url('img/visualizer/linea_anniversary.png');
		}

		&:before {
		  bottom: 1.6em;
		}
	  }

	  &.builder-color {
		padding-top: 4rem;
		background-size: auto 65%;

		&.yellow-gold {
		  background-image: url('img/visualizer/color_yellow.png');
		}

		&.rose-gold {
		  background-image: url('img/visualizer/color_rose.png');
		}

		&.white-gold {
		  background-image: url('img/visualizer/color_white.png');
		}
	  }

	  &.builder-stone,
	  &.builder-modules {
		padding-top: 0.37rem;
	  }

	  &.builder-stone {
		&.citrine {
		  background-image: url('img/visualizer/stone_citrine.png');
		}

		&.topaz {
		  background-image: url('img/visualizer/stone_topaz.png');
		}

		&.agate {
		  background-image: url('img/visualizer/stone_agate.png');
		}

		&.pink-tourmaline {
		  background-image: url('img/visualizer/stone_p_tourmaline.png');
		}

		&.green-tourmaline {
		  background-image: url('img/visualizer/stone_g_tourmaline.png');
		}

		&.onyx {
		  background-image: url('img/visualizer/stone_onyx.png');
		}
	  }

	  &.builder-modules {
		&.pave {
		  background-image: url('img/visualizer/modules_pave.png');
		}

		&.sgriffato {
		  background-image: url('img/visualizer/modules_sgriffato.png');
		}

		&.gold {
		  background-image: url('img/visualizer/modules_gold.png');
		}

		&.stone {
		  background-image: url('img/visualizer/modules_stone.png');
		}
	  }

	  @media screen and (max-width: 1599px) {
		background-size: auto 65%;

		&.builder-color {
		  background-size: auto 50%;
		}
	  }
	}
  }

}


/* Footer */

footer.site-footer {
  padding-top: 25px;
  padding-bottom: 35px;
  border-top: 1px solid #ececec;
  font-size: @font-size-smaller;
  background-color: @border-color;
  color: @footer-font-color;

  .container {
	position: relative;
  }

  .footer-logo {
	@media screen and (max-width: 1439px) {
	  margin-bottom: 15px;
	}

	@media screen and (min-width: 1440px) {
	  position: absolute;
	  left: -110px;
	}
  }

  h4 {
	color: #ffffff;
	font-size: 1rem;
  }

  a {
	font-size: @font-size-small;
	color: @footer-font-color;

	&:hover {
	  color: #ffffff;
  	}
  }

  form {
	input {
	  color: @footer-font-color !important;
	  &:active, &:focus, &:hover {
		color: @footer-font-color;
	  }

	  &::placeholder {
		color: @footer-font-color;
	  }

	}
  }

  .footer-social-menu {

	ul {
	  list-style-type: none;
	  padding-left: 0;

	  li {
		margin-right: 65px;
		display: inline-block;
	  }
	}

	a {
	  font-size: 1.5rem;
	}

	a:not(:last-of-type) {
	  margin-right: 2rem;
	}
  }

  .copyright {
	color: #979fc4;
  }

}


/* Modal window container */

html.noscroll {
  overflow: hidden;
  margin-right: 17px;
}

figure.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  /*opacity: 0;*/
  transition: opacity 0.3s ease;
  z-index: 1000000;
  overflow-y: auto;

  &.visible {
	opacity: 1;
  }

  h2 {
	color: #ffffff;
	font-size: 2.1rem;
	line-height: 2.1rem;
	text-align: center;
  }

  .modal-body {
	position: relative;
	width: 100%;
	max-width: 1500px;
	background-color: rgba(0,0,0,0.9);
	left: 50%;
	transform: translateX(-50%);
	top: 10vh;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 60px;
	padding-top: 50px;
	color: #ffffff;

	.close-modal {
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  cursor: pointer;
	}
  }
}


figure.registration-modal {

  font-family: "Playfair Display", serif;

  .modal-body {
	padding: 9%;
	bottom: 10vh;
  }

  h2 {
	text-align: left;
  }

  .no-gutters>.col, .no-gutters>[class*=col-] {
	padding-left: 3px;
	padding-right: 3px;
  }

  input.form-control {
	border-radius: 0;
	margin: 0 3px;
	background-color: #323232;
	border-color: #ffffff;
	color: #ffffff;

	&:focus {
	  box-shadow: 0 0 0 0.1rem rgba(255,255,255,.75);
	}

	&::placeholder {
	  color: #ffffff;
	}
  }

  button.btn {
	border-radius: 999px;
	padding-left: 2.5rem;
	padding-right: 2.5rem;

	&:focus {
	  box-shadow: 0 0 0 0.1rem rgba(255,255,255,.75);
	}
  }

}