/*
Theme Name: AOv
Theme URI: https://aovchinnikov.com
Description:
Author: Alex Palshin
Author URI: https://aovchinnikov.com
Template: twentysixteen
Version: 1.0.1
*/
@import "bootstrap/css/bootstrap.css";
@import "fancybox/dist/jquery.fancybox.css";
@import "font-awesome/css/font-awesome.css";
/* Color Codes */
/* Spacers */
.top-10 {
  padding-top: 10px;
}
.top-20 {
  padding-top: 20px;
}
.top-30 {
  padding-top: 30px;
}
.top-40 {
  padding-top: 40px;
}
.top-50 {
  padding-top: 50px;
}
/* Spacers in percent */
.top-5p {
  padding-top: 5%;
}
.top-10p {
  padding-top: 10%;
}
.top-20p {
  padding-top: 20%;
}
.top-30p {
  padding-top: 30%;
}
.top-40p {
  padding-top: 40%;
}
.top-50p {
  padding-top: 50%;
}
/* Spacers in rems */
.top-05r {
  padding-top: 0.5rem;
}
.top-1r {
  padding-top: 1rem;
}
.top-2r {
  padding-top: 2rem;
}
.top-3r {
  padding-top: 3rem;
}
.top-5r {
  padding-top: 5rem;
}
.top-10r {
  padding-top: 10rem;
}
.screen-reader-text {
  display: none;
}
@media screen and (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}
/* Base size */
html {
  font-size: 16px;
}
/* Headings */
h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #2f3f8a;
  line-height: normal;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2f3f8a;
  line-height: normal;
}
h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #5f5f5f;
  line-height: normal;
}
.small-text {
  font-size: 0.875rem !important;
  line-height: 1.33rem !important;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: normal;
  color: #5f5f5f;
  min-height: 100vh;
  overflow-y: scroll;
}
body.noscroll {
  overflow: hidden;
}
body .site-content {
  min-height: 90vh;
}
body article {
  line-height: 1.7;
}
a,
a:hover,
a:focus {
  color: #2f3f8a;
  text-decoration: none;
}
/* Buttons */
a.arrow-link {
  display: inline-block;
  text-decoration: none;
  font-size: 0.66rem;
  font-weight: 600;
}
a.arrow-link:after {
  display: inline-block;
  content: '';
  width: 2.4rem;
  height: 0.55rem;
  background-image: url("img/arrow_link.png");
  background-size: cover;
  margin-left: 1.5rem;
}
.btn {
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: 0;
  padding: 0.79rem;
}
.btn:focus,
.btn:active {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.75) !important;
}
.btn.btn-blue {
  background-color: #2f3f8a;
  color: #ffffff;
}
.btn.btn-transp {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px) saturate(50%);
  border-color: #2f3f8a;
  color: #2f3f8a;
  transition: all 0.5s ease-out;
}
.btn.btn-transp:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.btn.btn-link {
  color: #2f3f8a;
  text-decoration: none;
}
.btn.btn-arrow {
  color: #2f3f8a;
}
.btn.btn-arrow:after {
  display: inline-block;
  content: '';
  width: 1.5rem;
  height: 0.75rem;
  background-image: url("img/arrow_link2.png");
  background-size: cover;
  margin-left: 1rem;
}
/* Input and form */
input.form-control,
textarea.form-control,
select.form-control {
  border-radius: 0 !important;
}
input[type=text].form-control,
input[type=email].form-control,
input[type=password].form-control,
input[type=tel].form-control,
textarea.form-control,
select.form-control {
  border-bottom-width: 2px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}
input[type=text].form-control:focus,
input[type=email].form-control:focus,
input[type=password].form-control:focus,
input[type=tel].form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
  box-shadow: none !important;
  border-bottom-color: #2f3f8a;
}
/* Mixins */
.hoverbox {
  padding: 10px;
}
.hoverbox .hover-box-inner {
  z-index: 2;
  transition: box-shadow 0.25s ease-out;
  position: relative;
}
.hoverbox .hover-box-inner:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #2f3f8a;
  transition: width 0.5s ease-out 0.25s;
}
.hoverbox .hover-box-inner:hover:after {
  width: 100%;
}
.hoverbox .hover-fadein {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
.hoverbox:hover .hover-box-inner {
  background-color: #fbfbfb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.hoverbox:hover .hover-fadein {
  opacity: 1;
}
figure.front-news-item .news-item-image {
  padding-top: 63%;
  background-position: center;
  background-size: cover;
}
figure.front-news-item .news-item-image:after {
  display: none !important;
}
figure.front-news-item .news-date {
  color: #cdcdcd;
  padding-top: 10px;
  font-size: 0.875rem !important;
  line-height: 1.33rem !important;
}
figure.front-news-item h4 {
  color: #282828;
  font-size: 1.125rem;
}
figure.front-news-item .read-more span {
  display: inline-block;
  position: relative;
}
figure.front-news-item .read-more span:after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 14px;
  margin-left: 20px;
  background-image: url('img/arrow_link2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* Header */
body:not(.menu-visible) .navbar-close {
  display: none;
}
body.menu-visible .head-menu-btn {
  display: none !important;
}
.admin-bar header.site-header {
  top: 0 !important;
}
header.site-header {
  position: relative;
  width: 100%;
  z-index: 999;
}
header.site-header .navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
header.site-header .navbar-brand {
  transform: translateX(-50%);
  left: 65%;
  position: relative;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
}
header.site-header .navbar-brand img {
  max-width: 202px;
}
@media screen and (min-width: 1200px) {
  header.site-header .navbar-brand {
    top: 0;
    left: 55%;
    position: absolute;
  }
}
@media screen and (max-width: 1199px) {
  header.site-header .navbar-brand {
    padding: 0;
    left: 50%;
  }
}
header.site-header .navbar-toggler,
header.site-header .navbar-close {
  height: 40px;
  width: 40px;
  padding: 10px;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
header.site-header .navbar-toggler .navbar-toggler-icon,
header.site-header .navbar-close .navbar-toggler-icon {
  background-image: none;
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
  vertical-align: initial;
}
header.site-header .navbar-toggler .navbar-toggler-icon:before,
header.site-header .navbar-close .navbar-toggler-icon:before {
  top: 0.375rem;
}
header.site-header .navbar-toggler .navbar-toggler-icon:after,
header.site-header .navbar-close .navbar-toggler-icon:after {
  top: 0.875rem;
}
header.site-header .navbar-toggler .navbar-toggler-icon:before,
header.site-header .navbar-close .navbar-toggler-icon:before,
header.site-header .navbar-toggler .navbar-toggler-icon:after,
header.site-header .navbar-close .navbar-toggler-icon:after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #2f3f8a;
  transform: rotate(0deg);
}
header.site-header .navbar-toggler[aria-expanded="true"]:hover,
header.site-header .navbar-close[aria-expanded="true"]:hover {
  background-color: #f7f7f7;
  border-radius: 1000px;
}
header.site-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
header.site-header .navbar-close[aria-expanded="true"] .navbar-toggler-icon:before {
  top: 0.5rem;
  transform: rotate(45deg);
  transition: transform 0.2s ease-out 0.2s;
}
header.site-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after,
header.site-header .navbar-close[aria-expanded="true"] .navbar-toggler-icon:after {
  top: 0.55rem;
  transform: rotate(-45deg);
  transition: transform 0.2s ease-out 0.2s;
}
header.site-header a.nav-search-toggle {
  display: inline-block;
  margin-left: 3rem;
  width: 1.375rem;
  height: 1.375rem;
  margin-top: 10px;
  background-image: url("img/search.png");
  background-size: 1rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  header.site-header a.nav-search-toggle {
    margin-left: 20%;
  }
}
header.site-header a.cart-link {
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  margin-top: 10px;
  background-image: url("img/cart.png");
  background-size: 1rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 3rem;
  position: relative;
}
@media screen and (max-width: 600px) {
  header.site-header a.cart-link {
    margin-right: 20%;
  }
}
header.site-header a.cart-link span {
  position: absolute;
  right: -15px;
  top: -10px;
  display: block;
  width: 25px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  background-color: #2f3f8a;
  color: #fff;
  border-radius: 1000px;
  font-size: 0.75rem;
}
header.site-header a.cart-link span.items-0 {
  display: none;
}
header.site-header a.myaccount-link {
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  margin-top: 10px;
  background-image: url("img/profile.png");
  background-size: 1rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
header.site-header a.myaccount-link:after {
  display: none;
}
header.site-header .header-dropdown-menu {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
header.site-header .myaccount-dropdown {
  left: auto;
  right: 0;
}
header.site-header .myaccount-dropdown:before {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  border: 6px solid transparent;
  border-bottom-color: #ffffff;
  position: absolute;
  top: -12px;
  right: 12px;
}
header.site-header figure.collapsable-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  top: 80px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px) saturate(50%);
}
header.site-header .navbar-collapse {
  position: relative;
  margin-bottom: 130px;
}
header.site-header .navbar-collapse ul.navbar-nav li a {
  color: #7e7e7e;
}
header.site-header .navbar-collapse ul.navbar-nav li a:hover {
  color: #2f3f8a;
}
header.site-header .navbar-collapse ul.navbar-nav li.current-menu-item > a,
header.site-header .navbar-collapse ul.navbar-nav li.show > a {
  font-weight: 600;
  color: #2f3f8a;
}
header.site-header .navbar-collapse .dropdown-menu {
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}
@media screen and (max-width: 1199px) {
  header.site-header .navbar-collapse ul.navbar-nav li .dropdown-menu {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  header.site-header .navbar-collapse {
    position: relative;
    left: 0;
    right: 0;
  }
  header.site-header .navbar-collapse ul.navbar-nav {
    position: relative;
  }
  header.site-header .navbar-collapse ul.navbar-nav li.menu-item-has-children > a {
    position: relative;
    display: inline-block;
  }
  header.site-header .navbar-collapse ul.navbar-nav li.menu-item-has-children > a:after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: #e7e7e7;
    position: absolute;
    left: calc(100% + 20px);
    top: 50%;
  }
  header.site-header .navbar-collapse ul.navbar-nav li.menu-item-has-children.show > a:after {
    width: 400px;
    transition: width 0.2s ease-out 0.2s;
  }
  header.site-header .navbar-collapse ul.navbar-nav li.dropdown {
    position: static;
  }
  header.site-header .navbar-collapse ul.navbar-nav li a {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  header.site-header .navbar-collapse ul.navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    width: 50%;
    left: auto;
    top: 0;
  }
  header.site-header .navbar-collapse ul.navbar-nav .dropdown-menu a {
    font-size: 0.875rem;
  }
}
header.site-header .search-collapse .results-wrapper {
  margin-bottom: 120px;
}
header.site-header .search-collapse .results-wrapper a {
  display: block;
  padding-top: 10px;
  padding-right: 30px;
  margin-bottom: 10px;
  color: #7e7e7e;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
header.site-header .search-collapse .results-wrapper a:hover {
  color: #2f3f8a;
}
header.site-header .search-collapse .results-wrapper a.active {
  color: #2f3f8a;
  font-weight: 600;
}
header.site-header .search-collapse .results-wrapper a.active:after {
  display: inline-block;
  content: ' ';
  width: 26px;
  height: 12px;
  background-image: url("img/arrow_link2.png");
  background-size: cover;
  right: 0;
  position: absolute;
  top: 13px;
}
header.site-header .search-collapse form.nav-searchform {
  position: relative;
  padding-left: 40px;
  margin-bottom: 40px;
}
header.site-header .search-collapse form.nav-searchform .submit-btn {
  background-image: url("img/search_glass.png");
  background-color: transparent;
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  outline: none !important;
  box-shadow: none !important;
  position: absolute;
  left: 0;
  top: 0;
}
header.site-header .search-collapse .search-item-wrapper {
  padding-left: 40px;
  margin-bottom: 120px;
}
@media screen and (max-width: 1199px) {
  header.site-header .search-collapse .search-item-wrapper {
    padding-left: 0;
  }
}
header.site-header .search-collapse .search-item-wrapper .search-item {
  font-size: 0.875rem;
  padding: 30px;
  background-color: #fbfbfb;
  box-shadow: 0px 5px 10px lightgrey;
}
header.site-header .search-collapse .search-item-wrapper .search-item .product-image {
  padding-top: 100%;
  background-size: cover;
}
header.site-header .search-collapse .search-item-wrapper .search-item .product-category a {
  color: #cdcdcd;
  margin-bottom: 10px;
  font-size: 0.75rem;
}
header.site-header .search-collapse .search-item-wrapper .search-item .product-title {
  margin-bottom: 10px;
}
header.site-header .search-collapse .search-item-wrapper .search-item .product-title a {
  color: #5f5f5f;
}
header.site-header .search-collapse .search-item-wrapper .search-item .product-price {
  color: #2f3f8a;
  font-weight: 600;
}
header.site-header .login-collapse .login-wrapper {
  padding-top: 60px;
}
header.site-header .login-collapse .show-pass-toggle {
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}
.admin-bar header.site-header {
  top: 32px;
}
@media screen and (max-width: 991px) {
  .admin-bar header.site-header {
    top: auto;
  }
}
.shop-item {
  height: 100%;
}
.shop-item .hover-box-inner {
  height: 100%;
}
.shop-item .shop-item-image {
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}
.shop-item .shop-item-name {
  padding: 20px;
  position: relative;
}
.shop-item .shop-item-name:hover:after {
  display: block;
  content: '';
  background-image: url('img/arrow_link2.png');
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.shop-item .shop-item-name .category-name {
  color: #cdcdcd;
  font-size: 0.875rem !important;
  line-height: 1.33rem !important;
}
.shop-item .shop-item-name h4 {
  color: #282828;
  font-size: 1rem;
}
/* Front page */
figure.front-page section.front-page-slider {
  position: relative;
}
figure.front-page section.front-page-slider .bx-wrapper {
  border: 0;
  box-shadow: none;
}
figure.front-page section.front-page-slider .bx-wrapper:hover .slide .next-slide {
  right: 0;
  opacity: 1;
}
figure.front-page section.front-page-slider .bx-wrapper:hover .bx-controls .bx-prev {
  left: 30px;
  opacity: 1;
}
figure.front-page section.front-page-slider .bx-wrapper .bx-pager-link {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cdcdcd;
}
figure.front-page section.front-page-slider .bx-wrapper .bx-pager-link:not(.active) {
  margin: 0 10px 3px;
}
figure.front-page section.front-page-slider .bx-wrapper .bx-pager-link.active {
  width: 1rem;
  height: 1rem;
  border: 3px solid transparent;
  border-left-color: #2f3f8a;
  border-bottom-color: #2f3f8a;
  border-top-color: #2f3f8a;
  background: transparent;
  animation: rotate-s-loader 5s linear infinite;
}
@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
figure.front-page section.front-page-slider .bx-controls .bx-pager {
  position: absolute;
  left: 20px;
  width: 100px;
  bottom: 32px;
}
figure.front-page section.front-page-slider .bx-controls .bx-next {
  opacity: 0;
  width: 200px;
  height: 100px;
  transform: translateY(-50%);
}
figure.front-page section.front-page-slider .bx-controls .bx-prev {
  width: 48px;
  height: 48px;
  left: -48px;
  transition: all 0.25s ease-out;
  background-image: url("img/arrow_prev.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  figure.front-page section.front-page-slider .bx-controls .bx-controls-direction {
    display: none;
  }
}
figure.front-page section.front-page-slider .slide {
  position: relative;
  padding-top: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 767px) {
  figure.front-page section.front-page-slider .slide {
    padding-top: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  figure.front-page section.front-page-slider .slide {
    padding-top: 750px;
  }
}
figure.front-page section.front-page-slider .slide .next-slide {
  position: absolute;
  top: 50%;
  right: -160px;
  transform: translateY(-50%);
  width: 160px;
  padding-top: 80px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  opacity: 0.1;
  transition: all 0.25s ease-out;
}
@media screen and (max-width: 767px) {
  figure.front-page section.front-page-slider .slide .next-slide {
    display: none;
  }
}
figure.front-page section.front-page-slider .banner-overlay {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 60%;
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  figure.front-page section.front-page-slider .banner-overlay {
    top: 55px;
    left: 25px;
    width: auto;
    max-width: calc(100% - 50px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  figure.front-page section.front-page-slider .banner-overlay {
    top: 250px;
    left: 100px;
  }
}
figure.front-page section.front-page-slider .banner-overlay h1 {
  font-weight: bold;
}
figure.front-page section.front-page-slider .banner-social-menu {
  position: absolute;
  bottom: 14px;
  right: 30px;
}
figure.front-page section.front-page-slider .banner-social-menu ul {
  list-style-type: none;
  padding-left: 0;
}
figure.front-page section.front-page-slider .banner-social-menu ul li {
  margin-right: 65px;
  display: inline-block;
}
figure.front-page section.front-page-slider .banner-social-menu a {
  font-size: 1.5rem;
}
figure.front-page section.front-page-slider .banner-social-menu a:not(:last-of-type) {
  margin-right: 2rem;
}
figure.front-page section.front-page-cats-slider .bx-wrapper {
  margin: 0 auto;
  border: none;
  box-shadow: none;
}
figure.front-page section.front-page-cats-slider .bx-wrapper .bx-controls-direction a {
  top: auto;
  bottom: -48px;
}
figure.front-page section.front-page-cats-slider .bx-wrapper .bx-next,
figure.front-page section.front-page-cats-slider .bx-wrapper .bx-prev {
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: contain;
}
figure.front-page section.front-page-cats-slider .bx-wrapper .bx-next {
  background-image: url('img/arrow_next.png');
}
figure.front-page section.front-page-cats-slider .bx-wrapper .bx-prev {
  background-image: url('img/arrow_prev.png');
}
figure.front-page section.front-page-cats-slider .bx-wrapper .bx-pager {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
figure.front-page section.front-page-cats-slider .bx-wrapper:hover .bx-pager {
  opacity: 1;
}
figure.front-page section.front-page-cats-slider .bx-wrapper .bx-pager.bx-default-pager a {
  margin: 0 10px;
  background-color: #cdcdcd;
}
figure.front-page section.front-page-cats-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #2f3f8a;
}
figure.front-page section.front-page-cats-slider .bx-wrapper .bx-pager-item:first-of-type:last-of-type {
  display: none;
}
figure.front-page section.front-page-cats-slider .category-box .category-image {
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 991px) {
  figure.front-page section.front-page-cats-slider .category-box .hover-fadein {
    opacity: 1 !important;
  }
}
figure.front-page section.front-news figure.front-news-item .news-item-image {
  padding-top: 63%;
  background-position: center;
  background-size: cover;
}
figure.front-page section.front-news figure.front-news-item .news-item-image:after {
  display: none !important;
}
figure.front-page section.front-news figure.front-news-item .news-date {
  color: #cdcdcd;
  padding-top: 10px;
  font-size: 0.875rem !important;
  line-height: 1.33rem !important;
}
figure.front-page section.front-news figure.front-news-item h4 {
  color: #282828;
  font-size: 1.125rem;
}
figure.front-page section.front-news figure.front-news-item .read-more span {
  display: inline-block;
  position: relative;
}
figure.front-page section.front-news figure.front-news-item .read-more span:after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 14px;
  margin-left: 20px;
  background-image: url('img/arrow_link2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 992px) {
  .filterOpen figure.main-shop-page div.product.col-lg-3 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
/* Woocommerce reset */
body.home span.onsale,
body.woocommerce span.onsale {
  background-color: #2f3f8a;
  border-radius: 0;
}
@media screen and (max-width: 991px) {
  body.home span.onsale,
  body.woocommerce span.onsale {
    left: 0;
  }
}
body.woocommerce-page #respond input#submit.alt,
body.woocommerce-page a.button.alt,
body.woocommerce-page button.button.alt,
body.woocommerce-page input.button.alt,
body.woocommerce-page #respond input#submit.alt:hover,
body.woocommerce-page a.button.alt:hover,
body.woocommerce-page button.button.alt:hover,
body.woocommerce-page input.button.alt:hover {
  background-color: #2f3f8a;
  border-radius: 0;
}
/* Shop page */
figure.main-shop-page header.woocommerce-products-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #fbfbfb;
  margin-bottom: 1.5rem;
}
figure.main-shop-page header.woocommerce-products-header .woof_products_top_panel {
  display: none !important;
}
figure.main-shop-page h1.woocommerce-products-header__title {
  font-weight: 600;
  margin-bottom: 0;
  padding-right: 50px;
}
figure.main-shop-page .filter-counter {
  position: absolute;
  right: 20px;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background-image: url('img/shop/filters.png');
  background-size: cover;
  cursor: pointer;
}
figure.main-shop-page .filter-counter span {
  display: block;
  position: absolute;
  left: 60%;
  bottom: 50%;
  background-color: #2f3f8a;
  width: 22px;
  height: 22px;
  border-radius: 999px;
  color: #ffffff;
  font-size: 0.75rem;
  text-align: center;
  line-height: 22px;
}
figure.main-shop-page .woocommerce-result-count {
  color: #cdcdcd;
  padding-top: 10px;
}
@media screen and (min-width: 992px) {
  figure.main-shop-page .woocommerce-result-count {
    margin-left: 40px;
  }
}
figure.main-shop-page #filterWrap .filter-reset-button {
  position: absolute;
  right: 15px;
  background-color: transparent;
  color: #2f3f8a;
  padding: 3px;
  font-size: 0.875rem;
}
figure.main-shop-page #filterWrap h2.widget-title {
  font-size: 1rem;
  color: #282828;
  padding-bottom: 20px;
  border-bottom: 2px solid #fbfbfb;
  margin-bottom: 20px;
}
figure.main-shop-page #filterWrap .woof h4 {
  font-size: 1rem;
  color: #282828;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
figure.main-shop-page #filterWrap .woof .woof_container_inner {
  border-bottom: 2px solid #fbfbfb;
  padding-bottom: 5px;
}
figure.main-shop-page #filterWrap .woof .widget_price_filter .ui-slider-horizontal {
  height: 2px;
  background-color: #cdcdcd;
}
figure.main-shop-page #filterWrap .woof .widget_price_filter .ui-slider-horizontal div.ui-slider-range {
  background-color: #2f3f8a;
}
figure.main-shop-page #filterWrap .woof .widget_price_filter .ui-slider-horizontal span.ui-slider-handle {
  background-color: #ffffff;
  border: 3px solid #2f3f8a;
  top: -0.45em;
}
figure.main-shop-page #filterWrap .woof .woof_list {
  padding-left: 0;
}
figure.main-shop-page #filterWrap .woof .woof_radio_term {
  opacity: 0;
  position: absolute;
}
figure.main-shop-page #filterWrap .woof label.woof_radio_label {
  padding-left: 27px;
  position: relative;
  padding-top: 2px;
  font-size: 0.875rem;
  color: #282828;
}
figure.main-shop-page #filterWrap .woof label.woof_radio_label:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url('img/checkbox_empty.png');
}
figure.main-shop-page #filterWrap .woof label.woof_radio_label.woof_radio_label_selected:before {
  background-image: url('img/checkbox_selected.png');
}
figure.main-shop-page #filterWrap .woof .woof_radio_term_reset {
  background-image: url('img/cross.png');
  background-repeat: no-repeat;
  background-position: right 30%;
}
figure.main-shop-page #filterWrap .woof .woof_radio_term_reset img {
  opacity: 0;
}
figure.main-shop-page .woof_products_top_panel {
  margin-top: 0;
  line-height: normal;
}
figure.main-shop-page .woof_products_top_panel li span {
  padding-left: 16px;
  padding-right: 0;
  background-image: url('img/cross.png');
  background-size: 10px;
  background-position: left center;
}
figure.main-shop-page .woof_products_top_panel li a {
  color: #282828;
  font-size: 0.875rem;
}
figure.main-shop-page nav.woocommerce-pagination ul.page-numbers {
  display: flex;
  border: 0;
}
figure.main-shop-page nav.woocommerce-pagination ul.page-numbers li {
  margin: 10px;
  border: 0;
}
figure.main-shop-page nav.woocommerce-pagination ul.page-numbers li span,
figure.main-shop-page nav.woocommerce-pagination ul.page-numbers li a {
  padding: 11px 18px;
  color: #7e7e7e;
  border: 2px solid transparent;
}
figure.main-shop-page nav.woocommerce-pagination ul.page-numbers li a.next {
  padding: 11px 14.5px;
}
figure.main-shop-page nav.woocommerce-pagination ul.page-numbers li a:hover {
  border-color: #2f3f8a;
  background: transparent;
}
figure.main-shop-page nav.woocommerce-pagination ul.page-numbers li span.current {
  color: #2f3f8a;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #2f3f8a;
}
/* Product page */
.twentysixteen .site-main {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.woocommerce .site-content {
  overflow-x: hidden;
}
.woocommerce figure.product-page {
  margin: 0;
}
.woocommerce figure.product-page div.product .product_title {
  font-size: 1.25rem;
  color: #282828;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .woocommerce figure.product-page div.product .product_title {
    padding-top: 60px;
    margin-bottom: 100px;
  }
}
.woocommerce figure.product-page div.product div.images {
  width: 100%;
  float: none;
}
.woocommerce figure.product-page div.product p.price {
  color: #2f3f8a;
  margin-bottom: 50px;
}
.woocommerce figure.product-page div.product p.product-sku {
  color: #cdcdcd;
  margin-bottom: 50px;
}
.woocommerce figure.product-page div.product p.product-sku span {
  color: #5f5f5f;
}
@media screen and (min-width: 1200px) {
  .woocommerce figure.product-page div.product form.cart {
    padding-top: 50px;
  }
}
.woocommerce figure.product-page div.product .single_add_to_cart_button {
  padding-left: 60px;
  padding-right: 60px;
}
.woocommerce figure.product-page div.product .woocommerce-tabs {
  position: relative;
  z-index: 0;
  padding-bottom: 60px;
}
.woocommerce figure.product-page div.product .woocommerce-tabs:before {
  display: block;
  content: '';
  position: absolute;
  left: -1000px;
  width: calc(100% + 2000px);
  top: 0;
  height: 100%;
  z-index: -1;
  background-color: #fbfbfb;
}
.woocommerce figure.product-page div.product .woocommerce-tabs ul.tabs {
  display: flex;
  justify-content: space-between;
}
.woocommerce figure.product-page div.product .woocommerce-tabs ul.tabs:before {
  border: 1px solid #e4e4e4;
}
.woocommerce figure.product-page div.product .woocommerce-tabs ul.tabs li {
  flex-grow: 1;
  text-align: center;
  border: 0;
  background-color: transparent;
}
.woocommerce figure.product-page div.product .woocommerce-tabs ul.tabs li a {
  padding: 1.25em 0;
  color: #cdcdcd;
}
.woocommerce figure.product-page div.product .woocommerce-tabs ul.tabs li.active a {
  color: #2f3f8a;
}
.woocommerce figure.product-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce figure.product-page div.product .woocommerce-tabs ul.tabs li:after {
  display: none;
}
.woocommerce figure.product-page div.product .woocommerce-tabs > * {
  z-index: 2;
}
.woocommerce figure.product-page div.product .woocommerce-tabs .panel {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .woocommerce figure.product-page div.product .woocommerce-tabs .panel {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.woocommerce figure.product-page .woocommerce-product-gallery__trigger {
  display: none;
}
.woocommerce figure.product-page .woocommerce-product-gallery__wrapper img.wp-post-image {
  max-height: 80vh;
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.woocommerce figure.product-page .woocommerce-product-gallery__wrapper .product-slideshow-wrap .slide {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.woocommerce figure.product-page .woocommerce-product-gallery__wrapper .bx-wrapper {
  border: 0;
  box-shadow: none;
}
.woocommerce figure.product-page .woocommerce-product-gallery__wrapper .bx-wrapper .bx-pager-item:first-of-type:last-of-type {
  display: none;
}
.woocommerce figure.product-page .woocommerce-product-gallery__wrapper .bx-wrapper .bx-pager-link {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cdcdcd;
}
.woocommerce figure.product-page .woocommerce-product-gallery__wrapper .bx-wrapper .bx-pager-link:not(.active) {
  margin: 0 10px 3px;
}
.woocommerce figure.product-page .woocommerce-product-gallery__wrapper .bx-wrapper .bx-pager-link.active {
  width: 1rem;
  height: 1rem;
  border: 3px solid transparent;
  border-left-color: #2f3f8a;
  border-bottom-color: #2f3f8a;
  border-top-color: #2f3f8a;
  background: transparent;
  animation: rotate-s-loader 5s linear infinite;
}
@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.woocommerce figure.product-page .woocommerce-variation-description,
.woocommerce figure.product-page .woocommerce-variation-price {
  margin-bottom: 1rem;
}
.woocommerce figure.product-page .woocommerce-variation-price span.amount {
  color: #2f3f8a;
}
/* Breadcrumbs */
.woocommerce .woocommerce-breadcrumb {
  padding-top: 40px;
  margin-bottom: 50px;
  color: #cdcdcd;
}
.woocommerce .woocommerce-breadcrumb a {
  font-size: 0.875rem;
  color: #5f5f5f;
}
.woocommerce .woocommerce-breadcrumb a:hover {
  color: #282828;
}
/* News archive */
figure.news-archive header.page-header {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 30px;
}
figure.news-archive header.page-header h2.page-title {
  font-weight: 600;
  padding-bottom: 30px;
  padding-top: 30px;
}
/* News item */
body.single-news .entry-title,
body.page .entry-title {
  font-weight: 600;
  padding-bottom: 30px;
  padding-top: 30px;
}
body.single-news .post-thumbnail,
body.page .post-thumbnail {
  float: left;
  width: 50%;
}
body.single-news .post-thumbnail img,
body.page .post-thumbnail img {
  display: block;
  width: calc(100% - 20px);
  height: auto;
}
/* Content area for 404 page */
section.error-404 {
  max-width: 55.5rem;
  margin: 11rem auto 5.5rem;
}
/* 3D visualizer */
body.page-template-visualizer-page header.site-header {
  background-color: #000000;
}
figure.visualizer-page {
  margin-bottom: 100px;
}
@media screen and (min-width: 992px) {
  figure.visualizer-page {
    padding-top: 115px;
    margin-bottom: 50px;
  }
}
figure.visualizer-page section.collection-tabs {
  max-width: 1770px;
  margin: 0 auto;
}
figure.visualizer-page section.collection-tabs .tab-content {
  border-bottom: 1px solid #2f3f8a;
  margin: 0 auto;
}
figure.visualizer-page section.collection-tabs .tab-content .tab-pane iframe {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  min-height: 530px;
  border: none;
}
@media screen and (max-width: 767px) {
  figure.visualizer-page section.collection-tabs .tab-content .tab-pane iframe {
    min-height: 500px;
  }
}
figure.visualizer-page section.collection-tabs .nav.nav-tabs {
  border-bottom: none;
  max-width: 1360px;
  margin: 0 auto;
}
figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link {
  text-align: left;
  width: 25%;
}
figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link.active,
figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link:hover,
figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link:focus {
  border-color: transparent;
}
figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link.active span,
figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link:hover span,
figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link:focus span {
  border-top: 2px solid #000000;
  margin-top: 0;
}
figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link .tab-icon {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link span {
  display: block;
  text-transform: uppercase;
  font-size: 0.77rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-top: 1px solid #d9d9d9;
  padding-top: 1.5rem;
  margin-top: 1px;
}
@media screen and (max-width: 413px) {
  figure.visualizer-page section.collection-tabs .nav.nav-tabs .nav-link span {
    transform: rotate(90deg);
  }
}
figure.visualizer-page section.collection-tabs .ring-image-wrap {
  max-width: 768px;
  margin: 0 auto;
}
figure.visualizer-page section.collection-tabs .ring-image {
  background-size: cover;
  padding-top: 70%;
  background-position: 50% 50%;
}
figure.visualizer-page section.section-2 {
  max-width: 1770px;
  margin: 0 auto;
  background-color: #fbfbfb;
}
figure.visualizer-page section.visualizer-section {
  max-width: 1770px;
  margin: 0 auto;
  background-color: #fbfbfb;
}
figure.visualizer-page section.visualizer-section .product-image {
  padding-top: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
figure.visualizer-page section.visualizer-section .product-number {
  font-size: 0.77rem;
}
figure.visualizer-page section.visualizer-section .product-number span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
figure.visualizer-page section.visualizer-section .btn.btn-buy-this {
  border-radius: 0;
  background-color: #000000;
  color: #ffffff;
  font-size: 0.77rem;
  padding: 1.4em;
}
figure.visualizer-page section.visualizer-section .btn.btn-buy-this:after {
  display: inline-block;
  content: '';
  width: 2.4rem;
  height: 0.55rem;
  background-image: url("img/buy_this_arrow.png");
  background-size: cover;
  margin-left: 1.4rem;
}
figure.visualizer-page section.visualizer-section h4 {
  color: #000000;
  font-size: 0.88rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 0.77em;
  border-bottom: 1px solid #000000;
}
figure.visualizer-page section.visualizer-section .builder-block {
  padding-left: 20px;
  font-size: 0.77rem;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  background-position: right top;
  background-size: auto 90%;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 1.8em;
  border-bottom: 1px solid #d4d4d3;
  margin-bottom: 1em;
  cursor: pointer;
}
figure.visualizer-page section.visualizer-section .builder-block:before {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #c5c5c5;
  left: 0;
  bottom: 2.1em;
  border-radius: 999px;
}
figure.visualizer-page section.visualizer-section .builder-block.selected {
  color: #f8a21b;
}
figure.visualizer-page section.visualizer-section .builder-block.selected:before {
  background-color: #f8a21b;
}
figure.visualizer-page section.visualizer-section .builder-block.builder-line {
  padding-top: 2.57rem;
  padding-bottom: 1rem;
}
figure.visualizer-page section.visualizer-section .builder-block.builder-line.basic {
  background-image: url('img/visualizer/linea_basic.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-line.medium {
  background-image: url('img/visualizer/linea_medium.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-line.top {
  background-image: url('img/visualizer/linea_top.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-line.anniversary {
  background-image: url('img/visualizer/linea_anniversary.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-line:before {
  bottom: 1.6em;
}
figure.visualizer-page section.visualizer-section .builder-block.builder-color {
  padding-top: 4rem;
  background-size: auto 65%;
}
figure.visualizer-page section.visualizer-section .builder-block.builder-color.yellow-gold {
  background-image: url('img/visualizer/color_yellow.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-color.rose-gold {
  background-image: url('img/visualizer/color_rose.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-color.white-gold {
  background-image: url('img/visualizer/color_white.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-stone,
figure.visualizer-page section.visualizer-section .builder-block.builder-modules {
  padding-top: 0.37rem;
}
figure.visualizer-page section.visualizer-section .builder-block.builder-stone.citrine {
  background-image: url('img/visualizer/stone_citrine.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-stone.topaz {
  background-image: url('img/visualizer/stone_topaz.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-stone.agate {
  background-image: url('img/visualizer/stone_agate.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-stone.pink-tourmaline {
  background-image: url('img/visualizer/stone_p_tourmaline.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-stone.green-tourmaline {
  background-image: url('img/visualizer/stone_g_tourmaline.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-stone.onyx {
  background-image: url('img/visualizer/stone_onyx.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-modules.pave {
  background-image: url('img/visualizer/modules_pave.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-modules.sgriffato {
  background-image: url('img/visualizer/modules_sgriffato.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-modules.gold {
  background-image: url('img/visualizer/modules_gold.png');
}
figure.visualizer-page section.visualizer-section .builder-block.builder-modules.stone {
  background-image: url('img/visualizer/modules_stone.png');
}
@media screen and (max-width: 1599px) {
  figure.visualizer-page section.visualizer-section .builder-block {
    background-size: auto 65%;
  }
  figure.visualizer-page section.visualizer-section .builder-block.builder-color {
    background-size: auto 50%;
  }
}
/* Footer */
footer.site-footer {
  padding-top: 25px;
  padding-bottom: 35px;
  border-top: 1px solid #ececec;
  font-size: 0.875rem;
  background-color: #2f3f8a;
  color: #d5d8e7;
}
footer.site-footer .container {
  position: relative;
}
@media screen and (max-width: 1439px) {
  footer.site-footer .footer-logo {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1440px) {
  footer.site-footer .footer-logo {
    position: absolute;
    left: -110px;
  }
}
footer.site-footer h4 {
  color: #ffffff;
  font-size: 1rem;
}
footer.site-footer a {
  font-size: 0.75rem;
  color: #d5d8e7;
}
footer.site-footer a:hover {
  color: #ffffff;
}
footer.site-footer form input {
  color: #d5d8e7 !important;
}
footer.site-footer form input:active,
footer.site-footer form input:focus,
footer.site-footer form input:hover {
  color: #d5d8e7;
}
footer.site-footer form input::placeholder {
  color: #d5d8e7;
}
footer.site-footer .footer-social-menu ul {
  list-style-type: none;
  padding-left: 0;
}
footer.site-footer .footer-social-menu ul li {
  margin-right: 65px;
  display: inline-block;
}
footer.site-footer .footer-social-menu a {
  font-size: 1.5rem;
}
footer.site-footer .footer-social-menu a:not(:last-of-type) {
  margin-right: 2rem;
}
footer.site-footer .copyright {
  color: #979fc4;
}
/* Modal window container */
html.noscroll {
  overflow: hidden;
  margin-right: 17px;
}
figure.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  /*opacity: 0;*/
  transition: opacity 0.3s ease;
  z-index: 1000000;
  overflow-y: auto;
}
figure.popup-window.visible {
  opacity: 1;
}
figure.popup-window h2 {
  color: #ffffff;
  font-size: 2.1rem;
  line-height: 2.1rem;
  text-align: center;
}
figure.popup-window .modal-body {
  position: relative;
  width: 100%;
  max-width: 1500px;
  background-color: rgba(0, 0, 0, 0.9);
  left: 50%;
  transform: translateX(-50%);
  top: 10vh;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-top: 50px;
  color: #ffffff;
}
figure.popup-window .modal-body .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
figure.registration-modal {
  font-family: "Playfair Display", serif;
}
figure.registration-modal .modal-body {
  padding: 9%;
  bottom: 10vh;
}
figure.registration-modal h2 {
  text-align: left;
}
figure.registration-modal .no-gutters > .col,
figure.registration-modal .no-gutters > [class*=col-] {
  padding-left: 3px;
  padding-right: 3px;
}
figure.registration-modal input.form-control {
  border-radius: 0;
  margin: 0 3px;
  background-color: #323232;
  border-color: #ffffff;
  color: #ffffff;
}
figure.registration-modal input.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.75);
}
figure.registration-modal input.form-control::placeholder {
  color: #ffffff;
}
figure.registration-modal button.btn {
  border-radius: 999px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
figure.registration-modal button.btn:focus {
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.75);
}
